# Ignore node_modules folder
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variables
.env

# Ignore package-lock.json (optional, unless you want to lock dependencies)
package-lock.json

# Ignore test coverage reports
coverage/

# Ignore system files
.DS_Store
Thumbs.db